# Statements Assessment Test

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [14]:
mystring = 'She seels seasheels by the seashore'

In [15]:
mystring =

'She seels seasheels by the seashore'

In [17]:
mystring = "She sells seashells by the seashore"
mystring.split()

for word in words:
    if word.startswith('s') or word.startswith('S'):
        print(word)

She
sells
seashells
seashore

Use range () to print all the even numbers from 0 to 10

In [4]:
mylist =(0,1,2,3,4,5,6,7,8,9,10)

In [19]:
for num in range (0,11,2):
    print (num)

0
2
4
6
8
10

Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisble by 3

In [30]:
mylist =(0)

In [31]:
mylist =

SyntaxError: invalid syntax (1160528407.py, line 1)

_____
**Go through the string below and if the length of a word is even print "even!"**

In [ ]:
st =

In [ ]:
#Code in this cell

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [ ]:
#Code in this cell

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [ ]:
st = 'Create a list of the first letters of every word in this string'

NameError: name 'st' is not defined

### Great Job!